/Parsing_in_Python for 10 minuts/news.json
/glavsnabnet/__pycache__
/glavsnabnet/glavsnab.csv
/stopgameru/stopgameru.json


/6. cURL_python/.venv
/7. Python_Selenium_proxy_change_IP/.venv
/8. Python_ bs4/.venv
/8. Python_ bs4/img
/9. Python_requests_http_https_requests_get_post/.venv
/10. Python_JavaScript_Ajax/.venv
/11. autoriacom/.venv
/12._ZPROGER_python_parsing/.venv
/13. PythonToday_parthing/.venv
/15.  JavaScript_Node_habr/node_modules/
/16. NODE.JS SCRAPER  nodejs_ puppeteer_cheerio/node_modules/
/4. smartprogressdo/users
/26_Python_Selenium_Chrome_recapcha/.venv
/26_Python_Selenium_Chrome_recapcha/CaptchaSolverExample/vosk-model-en-us-0.22-lgraph
/26_Python_Selenium_Chrome_recapcha/CaptchaSolverExample/vosk-model-en-us-0.42-gigaspeech
/26_Python_Selenium_Chrome_recapcha/CaptchaSolverExample/vosk-model-small-en-us-0.15
/5. selenium python/moduls/users
*.html
*.zip
*.mp3
*.wav