/Parsing_in_Python for 10 minuts/news.json
/glavsnabnet/__pycache__
/glavsnabnet/glavsnab.csv
/stopgameru/stopgameru.json


/6. cURL_python/.venv
/7. Python_Selenium_proxy_change_IP/.venv
/8. Python_ bs4/.venv
/8. Python_ bs4/img
/9. Python_requests_http_https_requests_get_post/.venv
/10. Python_JavaScript_Ajax/.venv