<div class="test-item test-item-spam"
data-id="spam"
data-ip="true"                                        >

<a class="txt" href="https://2ip.ru/spam/">
   <i class="ip-icon-spam"></i>
   Наличие IP в СПАМ базах                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/spam/" data-fid="spam"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-mail-checker"
data-id="mail-checker"
                   data-email="true"                    >

<a class="txt" href="https://2ip.io/ru/mail-checker/">
   <i class="ip-icon-mail-checker"></i>
   Проверка существования email                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/mail-checker/" data-fid="mail-checker"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-port-scaner"
data-id="port-scaner"
                                       >

<a class="txt" href="https://2ip.ru/port-scaner/">
   <i class="ip-icon-port-scaner"></i>
   Безопасность вашего компьютера                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/port-scaner/" data-fid="port-scaner"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-antivirus"
data-id="antivirus"
                                       >

<a class="txt" href="https://2ip.ru/antivirus/">
   <i class="ip-icon-antivirus"></i>
   Проверка файла на вирусы                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/antivirus/" data-fid="antivirus"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-proxycheck"
data-id="proxycheck"
                                       >

<a class="txt" href="https://2ip.ru/proxycheck/">
   <i class="ip-icon-proxycheck"></i>
   Проверка анонимности прокси сервера                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/proxycheck/" data-fid="proxycheck"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-site-virus-scaner"
data-id="site-virus-scaner"
                                       >

<a class="txt" href="https://2ip.ru/site-virus-scaner/">
   <i class="ip-icon-site-virus-scaner"></i>
   Проверка сайта на вирусы                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/site-virus-scaner/" data-fid="site-virus-scaner"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-browser-update"
data-id="browser-update"
                                       >

<a class="txt" href="https://2ip.ru/browser-update/">
   <i class="ip-icon-browser-update"></i>
   Проверка актуальности браузера                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/browser-update/" data-fid="browser-update"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-passcheck"
data-id="passcheck"
                                       >

<a class="txt" href="https://2ip.ru/passcheck/">
   <i class="ip-icon-passcheck"></i>
   Стойкость пароля                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/passcheck/" data-fid="passcheck"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-ssl-info"
data-id="ssl-info"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/ssl-info/">
   <i class="ip-icon-ssl-info"></i>
   Проверка SSL                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/ssl-info/" data-fid="ssl-info"></div>
</div>
</li>
</ul>
</div>
<div class="test-block domain-test">
<div class="test-block_title">Для хостинга и домена</div>

<ul class="test-block_list">
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-whois"
data-id="whois"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/whois/">
   <i class="ip-icon-whois"></i>
   Информация об IP адресе или домене                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/whois/" data-fid="whois"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-lookup"
data-id="lookup"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/lookup/">
   <i class="ip-icon-lookup"></i>
   IP интернет ресурса                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/lookup/" data-fid="lookup"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-guess-hosting"
data-id="guess-hosting"
                                       data-domain="true">

<a class="txt" href="https://2ip.ru/guess-hosting/">
   <i class="ip-icon-guess-hosting"></i>
   Хостинг сайта                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/guess-hosting/" data-fid="guess-hosting"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-analizator"
data-id="analizator"
                                       data-domain="true">

<a class="txt" href="https://2ip.ru/analizator/">
   <i class="ip-icon-analizator"></i>
   Информация о сайте                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/analizator/" data-fid="analizator"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-domain-list-by-ip"
data-id="domain-list-by-ip"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/domain-list-by-ip/">
   <i class="ip-icon-domain-list-by-ip"></i>
   Сайты на одном IP                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/domain-list-by-ip/" data-fid="domain-list-by-ip"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-domain-list-by-email"
data-id="domain-list-by-email"
                   data-email="true"                    data-domain="true">

<a class="txt" href="https://2ip.ru/domain-list-by-email/">
   <i class="ip-icon-domain-list-by-email"></i>
   Все домены одного владельца                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/domain-list-by-email/" data-fid="domain-list-by-email"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-geoip"
data-id="geoip"
                                       >

<a class="txt" href="https://2ip.io/ru/geoip/">
   <i class="ip-icon-geoip"></i>
   Определить месторасположение                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/geoip/" data-fid="geoip"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-dig"
data-id="dig"
                                       data-domain="true">

<a class="txt" href="https://2ip.ru/dig/">
   <i class="ip-icon-dig"></i>
   DNS параметры домена                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/dig/" data-fid="dig"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-punycode"
data-id="punycode"
                                       data-domain="true">

<a class="txt" href="https://2ip.ru/punycode/">
   <i class="ip-icon-punycode"></i>
   Конвертер punycode для .рф доменов                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/punycode/" data-fid="punycode"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-domain-checker"
data-id="domain-checker"
                                       >

<a class="txt" href="https://2ip.ru/domain-checker/">
   <i class="ip-icon-domain-checker"></i>
   Поиск доменного имени                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/domain-checker/" data-fid="domain-checker"></div>
</div>
</li>
</ul>
</div>
<div class="test-block more-test">
<div class="test-block_title">Прочее</div>

<ul class="test-block_list">
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-cms"
data-id="cms"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/cms/">
   <i class="ip-icon-cms"></i>
   Система управления сайтом (CMS)                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/cms/" data-fid="cms"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-distance"
data-id="distance"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/distance/">
   <i class="ip-icon-distance"></i>
   Расстояние до сайта                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/distance/" data-fid="distance"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-site-statistics"
data-id="site-statistics"
                                       data-domain="true">

<a class="txt" href="https://2ip.ru/site-statistics/">
   <i class="ip-icon-site-statistics"></i>
   Посещаемость сайта                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/site-statistics/" data-fid="site-statistics"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-proxy"
data-id="proxy"
                                       >

<a class="txt" href="https://2ip.ru/proxy/">
   <i class="ip-icon-proxy"></i>
   Список прокси серверов                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/proxy/" data-fid="proxy"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-server-response"
data-id="server-response"
data-ip="true"                                        data-domain="true">

<a class="txt" href="https://2ip.ru/server-response/">
   <i class="ip-icon-server-response"></i>
   Ответ сервера                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/server-response/" data-fid="server-response"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-know-email-ip"
data-id="know-email-ip"
                   data-email="true"                    >

<a class="txt" href="https://2ip.ru/know-email-ip/">
   <i class="ip-icon-know-email-ip"></i>
   Определение IP адреса по Е-mail                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/know-email-ip/" data-fid="know-email-ip"></div>
</div>
</li>
<li style="max-width: 242px; width: 100%">
<div class="test-item test-item-rkn-blacklist"
data-id="rkn-blacklist"
                                       >

<a class="txt" href="https://2ip.ru/rkn-blacklist/">
   <i class="ip-icon-rkn-blacklist"></i>
   Блокировка Роскомнадзором                    </a>
<div class="fav bookmarks_add ip-icon-star-non-filled" title="В избранное" data-flink="/rkn-blacklist/" data-fid="rkn-blacklist"></div>
</div>
</li>
</ul>
</div></div>                    </section>
</section>


<div id="slide-isp-review" class="column-new">
<img src="https://static.2ip.io/images/generator.gif" height="20" width="20" alt="Загрузка..." />       
</div>

<style>
.mainadv {
margin: 10px auto;
}
</style>
<div class="mainadv">
</div>

<div id="content-articles-block" class="column-new">
<img src="https://static.2ip.io/images/generator.gif" height="20" width="20" alt="Загрузка..." />       
</div>

<script type="text/javascript">
(function() {
let isLoaded = false;
let loadData = () => {
isLoaded = true;

let xmlHttp = new XMLHttpRequest();
xmlHttp.onreadystatechange = function() {
if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
let json = JSON.parse(xmlHttp.responseText);

let articles = json['articles'];
let reviews = json['reviews'];

if (reviews != null) {
let content = document.getElementById('slide-isp-review');
content.innerHTML = reviews;

if (content.getElementsByClassName('simple-slider-script').length > 0) {
let sliderJS = content.getElementsByClassName('simple-slider-script')[0].innerHTML;
eval(sliderJS);
}
}

if (articles != null) {
let content = document.getElementById('content-articles-block');
content.innerHTML = articles;

if (content.getElementsByClassName('simple-slider-script').length > 0) {
let sliderJS = content.getElementsByClassName('simple-slider-script')[0].innerHTML;
eval(sliderJS);
}
}
}
};
xmlHttp.open("GET", 'https://2ip.ru/?area=ajaxLastComboViewer', true);
xmlHttp.send(null);
};

window.addEventListener('scroll', function() {
if (!isLoaded) {
loadData();
}
});

if (window.screen.height > 1500) {
if (!isLoaded) {
loadData();
}
}
})(window);
</script>
   </div>
<div class="sidebar">
<style>.m67eafbb6a8748 { position: absolute;top: 0;bottom: 0;left: 0;right: 0; }</style><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 2ip_right_resp_04.20 -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-5433854045166583"
data-ad-slot="1022961265"
data-ad-format="vertical"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>            </div>
</div>
</div>

<div class="main-ip-history">
<span class="main-ip-history__close">×</span>
<div class="main-ip-history__container">
<div class="main-ip-history__container__title">История посещений</div>
<ul class="main-ip-history__list">
               <li class="main-ip-history__list__clear">
   <a href="https://2ip.ru/?clearHistory">Очистить историю</a>
</li>

           <li>
<span class="main-ip-history__container__date">
   Сегодня в 23:23                    </span>

<span class="main-ip-history__container__ip">
   87.244.157.176                    </span>
</li>
       </ul>
</div>
</div>
</div>


<script type="text/plain" id="speed-checker-modal">
<div class="modal">
<div class="modal-content">
<span class="close-button">×</span>

<div class="modal-counter" id="speed-counter-wrapper">
<div class="counter" id="speed-counter" style="display: none">
<div class="nums">
   <span class="in">3</span>
   <span>2</span>
   <span>1</span>
   <span>0</span>
</div>
</div>

<p>
<a class="speed-link" id="speed-link" href="https://2ip.ru/speed/">
   Перейти к выбору площадки                    </a>
</p>
</div>

<div id="speed-widget" style="display: none">

<div class="st-widget">
<div class="st-gauge" id="speedmeter">
<div class="st-gauge__labels" id="gauge_labels">
<div class="st-gauge__label">0</div>
<div class="st-gauge__label">10</div>
<div class="st-gauge__label">20</div>
<div class="st-gauge__label">30</div>
<div class="st-gauge__label">40</div>
<div class="st-gauge__label">50</div>
<div class="st-gauge__label">60</div>
<div class="st-gauge__label">70</div>
<div class="st-gauge__label">80</div>
<div class="st-gauge__label">90</div>
<div class="st-gauge__label">100</div>
</div>

<div class="st-gauge__scale-marks">
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
<div class="st-gauge__scale-mark"></div>
</div>

<div class="st-gauge__progress"></div>
<div class="st-gauge__progress-fade hidden"></div>
<div class="st-gauge__progress-overlay"></div>

<div class="st-gauge__inner-progress"></div>
<div class="st-gauge__inner-progress-fade hidden"></div>
<div class="st-gauge__inner-progress-overlay"></div>

<div class="st-gauge__inner-circle"></div>

<div class="st-gauge__arrow">
<svg class="icon-gauge-arrow" id="icon-gauge-arrow-incoming">
<path d="M1.000,11.000 L-0.000,10.000 L-0.000,9.000 L2.000,7.000 L2.000,4.000 L-0.000,2.000 L-0.000,1.000 L1.000,-0.000 L12.000,5.000 L1.000,11.000 Z" class="cls-2" />
</svg>
</div>

<div class="st-gauge__value">
<span id="speed_value">0</span><span class="st-gauge__addition-value">.<span id="speed_value_addition">0</span></span>
</div>
<div class="st-gauge__unit">Мбит/с</div>

<div class="st-gauge__status">
<svg class="st-gauge__status-icon st-gauge__status-icon-down" id="inGauge">
<use xlink:href="#single-arrow" />
</svg>
<svg class="st-gauge__status-icon st-gauge__status-icon-up" id="outGauge" style="display: none">
<use xlink:href="#single-arrow-outcoming" />
</svg>
</div>
</div>
<ul class="st-stats" id="progressView">
<li class="st-stats__item">
<div class="st-stat-icon st-stat-icon--orange" id="pingProgress">
<svg class="icon-double-arrow">
<use xlink:href="#double-arrow" />
</svg>
</div>
<div class="st-stat-icon st-stat-icon--ping-done" id="pingProgressFinished">
<svg class="icon-double-arrow">
<use xlink:href="#double-arrow-white" />
</svg>
</div>
<div class="st-stats__label">Пинг</div>
<div class="st-stats__value" id="pingResult">-</div>
<div class="st-stats__unit">мс</div>
</li>
<li class="st-stats__item">
<div class="st-stat-icon st-stat-icon--green" id="inProgress">
<svg class="icon-single-bottom-arrow">
<use xlink:href="#single-arrow" />
</svg>
</div>
<div class="st-stat-icon st-stat-icon--incoming-done" id="inProgressFinished">
<svg class="icon-single-bottom-arrow">
<use xlink:href="#single-arrow-done" />
</svg>
</div>
<div class="st-stats__label">Входящая</div>
<div class="st-stats__value" id="inResult">-</div>
<div class="st-stats__unit">Мбит/с</div>
</li>
<li class="st-stats__item">
<div class="st-stat-icon st-stat-icon--gray" id="outProgress">
<svg class="icon-single-top-arrow">
<use xlink:href="#single-top-arrow" />
</svg>
</div>
<div class="st-stat-icon st-stat-icon--outcoming-done" id="outProgressFinished">
<svg class="icon-single-top-arrow">
<use xlink:href="#single-arrow-done" />
</svg>
</div>
<div class="st-stats__label">Исходящая</div>
<div class="st-stats__value" id="outResult">-</div>
<div class="st-stats__unit">Мбит/с</div>
</li>
</ul>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

<symbol id="double-arrow" preserveAspectRatio="xMidYMid" viewBox="0 0 20 19">
<defs>
<style>
.cls-1 {
fill: #ffa137;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M-0.000,4.000 L16.000,4.000 L13.000,1.000 L14.000,-0.000 L18.000,4.000 L18.000,5.000 L14.000,9.000 L13.000,8.000 L16.000,5.000 L-0.000,5.000 L-0.000,4.000 Z" class="cls-1"/>
<path d="M1.000,15.000 L1.000,14.000 L6.000,10.000 L7.000,11.000 L3.000,14.000 L20.000,14.000 L20.000,15.000 L3.000,15.000 L7.000,18.000 L6.000,19.000 L1.000,15.000 " class="cls-1"/>
</symbol>

<symbol id="double-arrow-white" preserveAspectRatio="xMidYMid" viewBox="0 0 20 19">
<defs>
<style>
.cls-1-white {
fill: #ffffff;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M-0.000,4.000 L16.000,4.000 L13.000,1.000 L14.000,-0.000 L18.000,4.000 L18.000,5.000 L14.000,9.000 L13.000,8.000 L16.000,5.000 L-0.000,5.000 L-0.000,4.000 Z" class="cls-1-white"/>
<path d="M1.000,15.000 L1.000,14.000 L6.000,10.000 L7.000,11.000 L3.000,14.000 L20.000,14.000 L20.000,15.000 L3.000,15.000 L7.000,18.000 L6.000,19.000 L1.000,15.000 " class="cls-1-white"/>
</symbol>

<symbol id="gauge-arrow" preserveAspectRatio="xMidYMid" viewBox="0 0 12 11">
<defs>
<style>
.cls-2 {
fill: #7ed7ad;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M1.000,11.000 L-0.000,10.000 L-0.000,9.000 L2.000,7.000 L2.000,4.000 L-0.000,2.000 L-0.000,1.000 L1.000,-0.000 L12.000,5.000 L1.000,11.000 Z" class="cls-2"/>
</symbol>

<symbol id="gauge-arrow-outcoming" preserveAspectRatio="xMidYMid" viewBox="0 0 12 11">
<defs>
<style>
.cls-2-outcoming {
fill: #7aa2ca;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M1.000,11.000 L-0.000,10.000 L-0.000,9.000 L2.000,7.000 L2.000,4.000 L-0.000,2.000 L-0.000,1.000 L1.000,-0.000 L12.000,5.000 L1.000,11.000 Z" class="cls-2-outcoming"/>
</symbol>

<symbol id="single-arrow" preserveAspectRatio="xMidYMid" viewBox="0 0 12 21">
<defs>
<style>
.cls-3 {
fill: #7ed7ad;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M6.000,0.000 L12.000,6.000 L11.000,7.000 L10.000,7.000 L7.000,4.000 L7.000,20.000 L5.000,20.000 L5.000,4.000 L2.000,7.000 L1.000,7.000 L-0.000,6.000 L6.000,0.000 Z" class="cls-3"/>
</symbol>

<symbol id="single-arrow-outcoming" preserveAspectRatio="xMidYMid" viewBox="0 0 12 21">
<defs>
<style>
.cls-3-outcoming {
fill: #7aa2ca;
}
</style>
</defs>
<path d="M6.000,0.000 L12.000,6.000 L11.000,7.000 L10.000,7.000 L7.000,4.000 L7.000,20.000 L5.000,20.000 L5.000,4.000 L2.000,7.000 L1.000,7.000 L-0.000,6.000 L6.000,0.000 Z" class="cls-3-outcoming"/>
</symbol>

<symbol id="single-arrow-done" preserveAspectRatio="xMidYMid" viewBox="0 0 12 21">
<defs>
<style>
.cls-3-done {
fill: white;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M6.000,0.000 L12.000,6.000 L11.000,7.000 L10.000,7.000 L7.000,4.000 L7.000,20.000 L5.000,20.000 L5.000,4.000 L2.000,7.000 L1.000,7.000 L-0.000,6.000 L6.000,0.000 Z" class="cls-3-done"/>
</symbol>

<symbol id="single-top-arrow" preserveAspectRatio="xMidYMid" viewBox="0 0 12 21">
<defs>
<style>
.cls-4 {
fill: #ceddec;
fill-rule: evenodd;
}
</style>
</defs>
<path d="M6.000,0.000 L12.000,6.000 L11.000,7.000 L10.000,7.000 L7.000,4.000 L7.000,20.000 L5.000,20.000 L5.000,4.000 L2.000,7.000 L1.000,7.000 L-0.000,6.000 L6.000,0.000 Z" class="cls-4"/>
</symbol>

</svg>            </div>
</div>
</div>

<link href="https://static.2ip.io/css/speed.css?v=3.3" rel="stylesheet">
<style>
.modal {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transform: scale(1.1);
transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
z-index: 10000;
}
.modal-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
padding: 30px;

height: 600px;
width: 600px;

border-radius: 0.5rem;
}
.close-button {
float: right;
width: 1.5rem;
line-height: 1.5rem;
text-align: center;
cursor: pointer;
border-radius: 0.25rem;
background-color: lightgray;
position: relative;
z-index: 10001;
}
.close-button:hover {
background-color: darkgray;
}

.show-modal {
opacity: 1;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.speed-link {
display: none;
font-size: 25px;
margin: 0 auto;
text-align: center;
}

.modal-counter {
display: flex;
flex-direction: column;
justify-content: center;
height: 100%;
align-items: center;
}

/* ===== Counter ===== */

.counter {
/*transform: translate(-50%, -50%);*/
margin: 0 auto;
text-align: center;
}

.counter.hide {

transform: translate(-50%, -50%) scale(0);
animation: hide .2s ease-out;
}

@keyframes hide {
0% {
transform: translate(-50%, -50%) scale(1);
}

100% {
transform: translate(-50%, -50%) scale(0);
}
}

@keyframes show {
0% {
transform: translate(-50%, -50%) scale(0);
}

80% {
transform: translate(-50%, -50%) scale(1.4);
}

100% {
transform: translate(-50%, -50%) scale(1);
}
}

.nums {
color: #3498db;
height: 140px;
margin: 0 auto;
position: relative;
font-size: 150px;
overflow: hidden;
width: 250px;
}

.nums span {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) rotate(120deg);
transform-origin: bottom center;
}

.nums span.in {
transform: translate(-50%, -50%) rotate(0deg);
animation: goIn .5s ease-in-out;
}

.nums span.out {
animation: goOut .5s ease-in-out;
}

@keyframes goIn {
0% {
transform: translate(-50%, -50%) rotate(120deg);
}
30% {
transform: translate(-50%, -50%) rotate(-20deg);
}

60% {
transform: translate(-50%, -50%) rotate(10deg);
}

90%, 100% {
transform: translate(-50%, -50%) rotate(0deg);
}
}

@keyframes goOut {
0%, 30% {
transform: translate(-50%, -50%) rotate(0deg);
}

60% {
transform: translate(-50%, -50%) rotate(20deg);
}

100% {
transform: translate(-50%, -50%) rotate(-120deg);
}
}

@media (max-width: 768px) {
.modal-content {
border-radius: 0;
width: 100%;
height: 100%;
}

#speed-widget {
position: relative;
top: 45%;
transform: translateY(-50%);
}
}
</style>
</script>

<script type="text/javascript">
window.IP2 = {
cdn: 'https://static.2ip.io/',
measureMethod: 'wss',
platformUrl: 'wss://server-1091.2ipcore.com:8002/ws',
platform: '1091',
ui: {
   duration: {
           dl: 14000,
           ul: 14000
   }
},
resultsUrl: '2ip.ru/',
isWidget: true,
shouldShowFullPage: true,
viewVersion: '2',
city: '2280'
};

let isEnabledSpeedTest = true;

function runAnimation() {
document.getElementById("speed-counter").style.display = 'block';
document.getElementById("speed-link").style.display = 'block';

let nums = document.querySelectorAll('.nums span');
let wrapper = document.getElementById('speed-counter-wrapper');
let widget = document.getElementById("speed-widget");

nums.forEach((num, idx) => {
const penultimate = nums.length - 1;

num.addEventListener('animationend', (e) => {
if(e.animationName === 'goIn' && idx !== penultimate){
num.classList.remove('in');
num.classList.add('out');
} else if (e.animationName === 'goOut' && num.nextElementSibling){
num.nextElementSibling.classList.add('in');
} else {
wrapper.style.display = 'none';
widget.style.display = 'block';

document.getElementById("speed-counter").style.display = 'none';
document.getElementById("speed-link").style.display = 'none';

if (isEnabledSpeedTest) {
   runTest()
}
}
});
});
}

function openSpeedTest() {
// Render and append to body
let modalText = document.getElementById("speed-checker-modal");
if (modalText != null) {
document.body.insertAdjacentHTML('beforeend', modalText.innerText);
modalText.remove();
}

let modal = document.querySelector(".modal");
let wrapper = document.getElementById('speed-counter-wrapper');
let widget = document.getElementById("speed-widget");
let nums = document.querySelectorAll('.nums span');
let counter = document.querySelector('.counter');

const closeButton = document.querySelector(".close-button");
closeButton.addEventListener("click", closeSpeedTest);

nums = document.querySelectorAll('.nums span');
counter = document.querySelector('.counter');

// Reset DOM
wrapper.style.display = 'flex';
widget.style.display = 'none';

counter.classList.remove('hide');
nums.forEach(num => {
num.classList.value = '';
});
nums[0].classList.add('in');


isEnabledSpeedTest = true;
modal.classList.add("show-modal");
runAnimation()
}

function closeSpeedTest() {
let modal = document.querySelector(".modal");
isEnabledSpeedTest = false;
modal.classList.remove("show-modal");

if (typeof(window.IP2.engine) != "undefined") {
window.IP2.engine.terminate();
}
}

document.addEventListener("DOMContentLoaded", function() {
const speedStartButton = document.getElementById("speed-start-button");
speedStartButton.addEventListener("click", openSpeedTest);
});
</script>

<script type="text/javascript" src="https://static.2ip.io/js/speed-2017.min.js?v=1.2"></script>
<script type="text/html" id="gauge_tmpl">
<% for ( var i = 0; i < 11; i++ ) { %>
<div class="st-gauge__label <%=className%>"><%=i*10+start%></div>
<% } %>
</script>

<footer class="footer">
<div class="container">
<div class="footer-menu">
<ul>
       <li><a href="https://2ip.ru/registration/isp/">Провайдеру</a></li>
<li><a href="https://2ip.ru/adv/">Реклама</a></li>

<li><a href="https://2ip.ru/add-ip/">Запрос на исправление данных GeoIP</a></li>

       <li><a href="https://2ip.ru/disclaimer/">Соглашение</a></li>

<li><a href="https://2ip.ru/contact/">Обратная связь</a></li>


<li class="footer-menu-language">
                       <a href="https://2ip.io/">
       EN
   </a>

                       <a href="https://2ip.io/de/" class="footer-menu-language-border">
       DE
   </a>

                       <a href="https://2ip.io/ua/" class="footer-menu-language-border">
       UA
   </a>

               </li>
</ul>
</div>


<div class="copyright" aria-disabled="true">© 2006–2025 | <span aria-disabled="true">«2ip.ru»</span>. Все права защищены.</div>

<div class="scroll-top"><a href="#" title="Наверх"></a></div>

<div data-id="2ip" data-mysql-ping="ok"></div>
</div>
</footer>
</div>


<div class="body-blackout"></div>
</body>
</html>